<h2 class="text-center mt-3 mb-5 font-weight-bold">本当に退会しますか？</h2>
<div class="container text-center">
 <div class="row-6 pt-5 pb-5" style="background-color:white; width:50%; margin:auto;">
    <p>退会すると、会員登録情報や</p>
    <p>これまでの購入履歴が閲覧できなくなります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
 </div>
 <div class="row mt-5">
  <div class="col" style="padding-left:300px;">
   <%= link_to "退会しない", mypage_path, class: "btn btn-success " %>
  </div>
  <div class="col" style="padding-right:300px;">
   <%= link_to "退会する", withdraw_path, method: :patch, class: "btn btn-danger", "data-confirm" => "本当に退会しますか？再度利用するには新規登録が必要になります" %>
  </div>
 </div>
</div>