<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="about">
        <h1 class="title text-center">About</h1>
        <p class="about-text text-center">
          ながのＣＡＫＥは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
      <div class="d-flex justify-content-center">
      <div id="top-image" class="top-box mt-3">
        <div id="target">
           <img src="/assets/cake1.jpeg" alt="">
           <img src="/assets/cake2.jpeg" alt="">
           <img src="/assets/cake3.jpeg" alt="">
           <img src="/assets/cake4.jpeg" alt="">
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
