<div class='container'>
  <h3 class="pt-4">会員一覧</h3>
  <div class='row'>
    <div class='col-md-8 offset-md-1 pt-4'>
      <table class='table text-center'>
        <thead style= "background-color: #880000;", class="text-white">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <!--↓多分これ使う-->
        <% @customers.each do |customer| %>
        <tbody  style= "background-color: #fff;">
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name , admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <% if customer.is_deleted %>
              <td class="text-Secondary"><b>退会</b></td>
            <% else %>
              <td class="text-success"><b>有効</b></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>