@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

*{
  font-family: 'Kiwi Maru', serif;
}

header li {
    font-size: 20px;
    margin-right: 14px;
}