<div class="row bg-dark">
    <div class="col-12 text-right mb-2">
        <%= search_form_for search, url: items_path do |f| %>
        <%= f.text_field :name_cont, placeholder: "入力" %>
        <%= f.submit ("search"), class: "btn btn-success" %>
        <% end %>
    </div>
</div>