<div class="col-12 text-right mb-2 mt-4 mr-2">
 <%= search_form_for search, url: items_path do |f| %>
 <%= f.text_field :name_cont, placeholder: "入力", class: "mr-3" %>
 <%= f.submit ("search"), class: "btn btn-secondary btn-sm" %>
 <% end %>
 </div>
